/* FONTS */

@font-face {
    font-display: swap;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/karla-v30-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/karla-v30-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/dm-serif-display-v12-latin-regular.woff2') format('woff2');
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

.site-main {
    flex-grow: 1;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Karla", "Arial", sans-serif;
}

img {
    vertical-align: middle;
}

.container {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}

/* HEADER STARTED */
.site-header {
    padding: 20px 0;
    background-color: #fff;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 33px;
}

.header__list {
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header__link {
    color: #837D88;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-decoration: none;
    transition: color 0.35s ease;
}

.header__link:hover {
    color: #2C2830;
}

.header__button {
    padding: 13px 0;
    display: inline-block;
    width: 146px;
    border: 1.5px solid #2C2830;
    background-color: transparent;
    color: #2C2830;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-decoration: none;
    transition-property: background-color color;
    transition-duration: 0.35s;
    transition-timing-function: ease;
}

.header__button:hover {
    background-color: #2C2830;
    color: #FFF;
}

.header__menu {
    display: none;
}

@media only screen and (max-width: 640px){
    .header__nav {
        display: none;
    }

    .header__menu {
        display: block;
        width: 32px;
        height: 32px;
        background-color: transparent;
        background-image: url("../images/mb-menu.svg");
        border: none;
    }
}
/* HEADER ENDED */

/* HERO SECTION STARTED */
.hero {
    position: relative;
    padding: 105px 0 127px;
    background-color: #2D2641;
    background-image: url("../images/hero-line1.svg");
    background-repeat: no-repeat;
    background-position: calc(50% + 550px) calc(50% - 88px);
}

.hero::before{
    position: absolute;
    width: 697px;
    height: 826px;
    background-image: url("../images/hero-line2.svg");
    background-repeat: no-repeat;
    background-position: calc(50% - 486px) calc(50% - -201px);
    content: "";
}

.hero__mobile {
    display: none;
}

.hero__inner {
    display: flex;
    position: relative;
}

.hero__wrapper {
    width: 540px;
}

.hero__wrapper::before {
    display: block;
    width: 150px;
    margin-bottom: 63px;
    height: 1px;
    background-color: #FFF;
    content: "";
}

.hero__title {
    margin: 0;
    margin-bottom: 26px;
    color: #FFF;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 88.889%;
    letter-spacing: -1px;
}

.hero__desc {
    margin: 0;
    margin-bottom: 24px;
    color: #FFF;
    line-height: 162.5%;
}

.hero__button {
    color: #fff;
    border: 1.5px solid #FFF;
}

.hero__button:hover {
    border: 1.5px solid #FFF;
    background-color: #FFF;
    color: #2C2830;
}

.hero__img {
    position: absolute;
    right: 0;
}

@media only screen and (max-width: 1117px){
    .hero {
        background-size: 597px 549px;
        background-position-x: calc(50% + 350px);
    }

    .hero__img {
        width: 440px;
        height: 550px;
    }

    .hero__title {
        font-size: 64px;
    }

    .hero__desc {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1012px) {
    .hero__wrapper {
        width: 440px;
    }

    .hero__wrapper::before {
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 912px) {
    .hero {
        padding-bottom: 80px;
        background-position-x: calc(50% + 270px);
    }

    .hero__title {
        font-size: 48px;
        letter-spacing: -0.667px;
    }

    .hero__img {
        width: 340px;
        height: 450px;
    }
}

@media only screen and (max-width: 800px) {
    .hero__img {
        position: relative;
        width: 100%;
        max-width: 521px;
        margin: 0 auto;
    }

    .hero__inner {
        width: 100%;
        max-width: 734px;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .hero {
        padding-top: 0;
        text-align: center;
        background-image: none;
    }

    .hero::before {
        display: none;
    }

    .hero__wrapper {
        margin-top: 93px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 640px) {
    .hero__img {
        display: none;
    }

    .hero__mobile {
        width: 100%;
        max-width: 375px;
        margin: 0 auto;
        display: block;
    }

    .hero__wrapper {
        width: 100%;
    }
}

@media only screen and (max-width: 364px) {
    .hero {
        background-image: url("../images/heroMbBg.svg");
        background-position: calc(50% - 53px) calc(50% - 64px);
    }

    .hero::after {
        position: absolute;
        width: 178px;
        height: 210px;
        background-image: url("../images/heroMbLine.svg");
        background-repeat: no-repeat;
        background-position: calc(50% + 46px);
        background-size: contain;
        content: "";
    }

    .hero__title {
        font-size: 36px;
        margin-bottom: 15px;
    }

    .hero__desc {
        font-size: 10px;
    }

    .hero__wrapper::before{
        margin-top: 60px;
    }
}

@media only screen and (max-width: 357px) {
    .hero::after {
        width: 160px;
    }
}

/* HERO SECTION ENDED */

/* SERVICES SECTION STARTED */
.services {
    padding: 305px 0 158px;
    background-color: #FFF;
}

.services__title {
    position: relative;
    margin: 0;
    margin-bottom: 96px;
    color: #2C2830;
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 72px;
    line-height: 64px;
    letter-spacing: -1px;
}

.services__title::before {
    display: block;
    width: 150px;
    height: 1px;
    margin-bottom: 63px;
    background-color: #C396C6;
    content: "";
}

.services__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    list-style-type: none;
}

.services__item {
    width: 350px;
}

.services__item::before {
    display: inline-block;
    margin-bottom: 32px;
    width: 86px;
    height: 86px;
    background-image: url("../images/icon1.svg");
    background-repeat: no-repeat;
    content: "";
}

.services__item:nth-child(2)::before{
    background-image: url("../images/icon2.svg");
}

.services__item:last-child::before{
    background-image: url("../images/icon3.svg");
}

.services__subtitle {
    margin: 0;
    margin-bottom: 16px;
    color: #2C2830;
    font-family: "DM Serif Display";
    font-weight: normal;
    font-size: 28px;
    letter-spacing: -0.389px;
}

.services__desc {
    margin: 0;
    color: #837D88;
    line-height: 162.5%; 
}

@media only screen and (max-width: 1090px) {
    .services__list {
        justify-content: center;
        text-align: center;
        gap: 60px;
    }

    .services__title {
        text-align: center;
    }

    .services__title::before {
        right: 0;
        left: 0;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .services__item::before {
        right: 0;
        left: 0;
        margin: 0 auto;
        margin-bottom: 32px;
    }
}

@media only screen and (max-width: 800px) {
    .services {
        padding-top: 140px;
    }
}

@media only screen and (max-width: 576px) {
    .services__title {
        font-size: 48px;
    }
}

/* SERVICES SECTION ENDED */

/* WORK SECTION STARTED */
.work {
    padding-bottom: 150px;
}

.work__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 69px 80px;
    background-image: url("../images/work-img.png");
    background-repeat: no-repeat;
    background-color: #2D2641;
    background-size: cover;
}

.work__wrapper {
    width: 100%;
    max-width: 475px;
}

.work__title {
    margin: 0;
    color: #FFF;
    font-family: "DM Serif Display", serif;
    font-weight: normal;
    font-size: 56px;
    line-height: 100%; 
    letter-spacing: -0.778px;
}

.work__button {
    width: 160px;
}

.work__button:hover {
    background-color: #FFF;
    color: #2C2830;
}

@media only screen and (max-width: 847px){
    .work__inner {
        flex-direction: column;
        text-align: center;
        background-image: url("../images/workMbBg.svg");
    }

    .work__title {
        margin-bottom: 40px;
    }
}
/* WORK SECTION ENDED */

/* FOOTER STARTED */
.site-footer {
    padding: 64px 0;
    background-color: #FAFAFA;
    background-image: url("../images/footer-bg.png");
    background-repeat: no-repeat;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 36px;
    border-bottom: 1px solid #DADADA;
}

.footer__list {
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer__link {
    color: #837D88;
    transition: color 0.5s ease;
}

.footer__link:hover {
    color: #2C2830;
}

.footer__bottom {
    padding: 48px 180px 0 0;
    display: flex;
    justify-content: space-between;
}

.footer__subtitle {
    display: inline-block;
    margin-bottom: 36px;
    color: #837D88;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.footer__sublist {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer__subitem:not(:last-child) {
    margin-bottom: 1rem;
}

.footer__sublink {
    color: #2D2641;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
}

.footer__sublink:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 871px){
    .footer__bottom {
        padding-right: 20px;
    }
}

@media only screen and (max-width: 580px){
    .site-footer{
        background-image: url("../images/footerMobileBg.png");
        background-size: contain;
    }

    .footer__top {
        flex-direction: column;
   }

   .footer__list {
        margin-top: 32px;
        padding-bottom: 40px;
    }

    .footer__bottom {
        flex-direction: column;
        text-align: center;
    }

    .footer__wrapper:not(:last-child) {
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 376px){
    .site-footer {
        background-size: auto;
    }
}
/* FOOTER ENDED */